@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import "tailwindcss";

@theme {
    --color-platinum : #EEEEEE; 
    --color-tiffany-blue: #00ADB5;  
    --color-charcoal-gray: #393E46;    
    --color-gunmetal : #222831;
    --font-gugi: 'Gugi', cursive;
}


@layer base {

    .h1 {
        @apply text-[41px] leading-tight md:text-[48px] md:leading-[1.3] mb-4 font-bold;
    }

    .h2 {
        @apply text-[33px] leading-tight md:text-[46px] md:leading-[1.3] mb-4 font-bold;
    }

    .h3 {
        @apply text-[29px] leading-tight md:text-[36px] md:leading-[1.3] mb-4 font-semibold;
    }

    p {
        @apply leading-[1.3] text-[14px] text-black ;
    }
}

@layer utilities {
    .max-padd-container {
        @apply mx-auto max-w-[1440px] px-6 lg:px-12 ;
    }

    .flexCenter {
        @apply flex items-center justify-center ;
    }
    .flexBetween {
        @apply flex items-center justify-between ;
    }
    .flexStart {
        @apply flex items-center justify-start ;
    }
    .flexEnd {
        @apply flex items-center justify-end ;
    }
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-none {
    display: block;
  }
  